<div class="post-thumb-container">
	<img src="<%= @question.image_url %>" alt="<%= @question.title %>" class="top-post-thumb" />
</div>
<h3><%= @question.title %></h3>
<p>
	<%= @question.description %>
</p>
<div class="accessory">
  <strong><%= @question.bounty_chips %></strong>
	  &nbsp;
	  bounty chips
	  &nbsp;
  <strong>
  	<%= time_to_deadline(@question.expiration) %>
  </strong>
</div>
<%= link_to "Add Your Bullets", new_question_answer_path(@question), :class => "btn btn-danger bullets" %> 
<ul class="answers">
	<% @answers.each do |answer| %>
		<li id="answer<%= answer.id %>">
			<ol>
				<% answer.arguments.each do |argument| %>
					<li>
						<p>
							<%= argument.response %>
						</p>
					</li>
				<% end %>
			</ol>
			<div class="tools">
				
				<%= link_to answer_votes_path(answer), :method => :post, :remote => true, :class => "upvote btn btn-danger"  do %>
					<i class="icon-thumbs-up"></i>
					<span class="vote-total"><%= answer.votes.size %></span>
				<% end %>
			</div>
		</li>
	<% end %>
</ul>

