<% if current_user %>
	<% @questions.each do |question| %>
    <a class="feed-item" href="/questions/<%= question.id%>">
      <img class="image" src="<%=question.image_url%>"/>
		  <div class="caption">
        <h3><%= question.title %></h3>
        <div class="accessory">
          <strong><%= question.bounty_chips %></strong>
          &nbsp;
          bounty chips
          &nbsp;
          <strong>
          <%= time_to_deadline(question.expiration) %>
          </strong>
        </div>
      </div>
    </a>
	<% end %>
<% else %>
	<h1>
		Welcome to 3Bullets
	</h1>
<% end %>
